<!DOCTYPE html>
<head>
  <title>Ari Weitzman</title>
  <link href='./assets/stylesheet.css.scss' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="./assets/images/logo_2.png"/>
</head>

<html>
  <body class="page">

    <div class="top-bar group">
      <figure class="logo">
        <img src="./assets/images/logo_1.png">
      </figure>

      <ul class="links">
        <li id="aboutme"><a>About Me</a></li>
        <li><a href src="#">Skills</a></li>
        <li><a href src="#">Portfolio</a></li>
      </ul>
    </div>

    <div class="content group">

      <div class="sidebar">
        <div class="desc">
          <figure class="avatar">
            <img src ="./assets/images/avatar_6.jpg">
          </figure>
        </div>
      </div>

      <div class="main group">
        <figure class="banner">
          <div class="banner-text">
            <h2>ARI WEITZMAN</h2>
          </div>
            <img src="./assets/images/banner_1.jpg">
        </figure>

        <h2>Under construction</h2>

        <p>Hi there, thanks for visiting! I'm working on developing this site at the moment, but please visit the links below and check back again soon!</p>

        <h4>Projects</h4>
        <ul>
          <li><a href="http://cohabitaterpg.co">CohabitateRPG</a></li>
          <li><a href="https://github.com/arijoe/Chess">Chess</a></li>
          <li><a href="./asteroids">Asteroids</a></li>
        </ul>

        <br>
        <li>THING</li>
        <li>THING</li>
        <li>THING</li>
        <li>THING</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>stretching height</li>
      </div>

    </div>

    <script src="./assets/javascripts/jquery.js"></script>
    <script src="./assets/javascripts/aboutme.js"></script>
  </body>
</html>
