/* RESET */

html, body, div, ul, li, i,
h1, h2, h3, h4, h5, h6, figure,
img, button, a, footer, br {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
}

html {
  background: #ffffef;
}

body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: rgba(52, 52, 55, 1);
  font-weight: 200;
  min-width: 780px;
}

a {
  cursor: pointer;
  color: #17c1bd;
  transition: all .15s;
}

a:hover {
  color: #710101;
  transition: all .15s;
}

a:active {
  color: #17c1bd;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 5px;
  background: #faf;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 auto;
}

.resume {
  cursor: pointer;
  color: #ffffdf;
  transition: all .15s;
}

/** CLEARFIX **/
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* TOP BAR */
.top-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 780px;
  width: 100%;
  background: #710101;
  background: -webkit-linear-gradient(90deg, #520101, #710101 35%, #710101);
  height: 43px;
  color: #fff;
  border-bottom: 1px solid #17c1bd;
  z-index: 2;
}

.top-bar:after {
  content: "";
  display: block;
  background: #fff;
  padding-top: 5px;
  border-bottom: 1px solid #710101;
  z-index: 2;
}

.top-bar > .links {
  float: right;
  margin: 5px;
  padding-top: 7px;
  padding-bottom: 4px;
}

.links > li {
  float: left;
  padding: 0 13px;
  font: 18px;
  font-weight: 200;
  letter-spacing: 5px;
}

.links > li:last-child > a {
  color: #ffffdf;
  font-weight: bold;
}

.links > li > a {
  color: #fff;
}

.links > li > a:hover {
  color: #17c1bd;
}

.links > li > a:active {
  color: #ccc;
}

.logo {
  position: absolute;
  top: 10px;
  left: calc(15% - 36px);
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background: #fff;
  float: left;
  border: 1px solid #17c1bd;
  cursor: pointer;
  z-index: 2;
}

.logo > img {
  margin-top: 3.9px;
  margin-left: 0.23px;
}

/* *MAIN PAGE* */

.content {
  top: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

.content > div {
  display: inline-block;
  vertical-align: top;
  transition: all .25s;
  float: left;
}

.main {
  width: calc(100%);
}

.sidebar {
  width: 0;
  display: hidden;
  background: rgba(84, 84, 90, 1);
  overflow: hidden;
}

.main.active {
  width: calc(70%);
}

.sidebar.active {
  width: calc(30%);
  flex: 1;
  border-right: 1px solid #17c1bd;
  position: relative;
  top: 45px;
  transition: all .25s;
}

.sidebar p {
  color: #000;
}

/* BANNER */

.banner {
  margin-top: 45px;
  display: block;
  position: relative;
  height: 400px;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #fff;
}

.banner-text {
  position: absolute;
  z-index: 1;
  top: calc(50% - 42px);
  left: calc(50% - 240px);
  color: rgba(255, 255, 223, 0.68);
  font-weight: 400;
  letter-spacing: 25px;
  font-family: 'Elsie', display;
}

.banner-text > h2 {
  font-size: 42px;
  letter-spacing: 15px;
  display:inline-block;
    transform:scale(1,1.2); /* W3C */
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9 */
    -o-transform:scale(1,1.2); /* Opera */
}

.banner > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* SIDEBAR */
/** AVATAR **/

.avatar {
  width: calc(80%);
  position: relative;
  margin-top: 55px;
  margin-left: calc(10%);
  border-radius: 5px;
  border: 1px solid #444;
  overflow: hidden;
}

.sidebar .avatar {
  box-shadow: 0 0 20px 2px #222;
}

.dummy {
  padding-top: 100%;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container > img {
  width: 100%;
  position: relative;
  top: -20px;
}

/*DESCRIPTION */

.description {
  position: relative;
  color: #000;
}

.description > h4 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 11px;
  margin-top: 15px;
  color: #333;
}

.description > p {
  font-weight: 100;
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
  margin: 10px calc(10%);
}

.description p a {
  color: #113;
}

.description p a:hover {
  color: #11a;
}

.pro-icons {
  margin: 20px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: inherit;
  text-align: center;
}

.pro-icon {
  display: inline-block;
	width: 32px;
	margin: 0 10px;
  position: relative;
}

.pro-icon i {
	font-size: 32px;
	display: block;
	text-align: center;
}

.pro-icon a {
  color: #17c1bd;
}

.pro-icon a:hover {
	color: #159eb7;
}

.resume-view {
  display: block;
  position: relative;
  margin: 30px calc(10%);
}

.resume-view i {
  color: #17c1bd;
  transition: all .15s;
}

.resume-view:hover i {
  color: #159eb7;
  transition: all .15s;
}

.little-guy {
  height: 24px;
  width: 24px;
  position: absolute;
  bottom: 55px;
  left: calc(50% - 12px);
  cursor: pointer;
}

/* MAIN */

.main > div {
  display: block;
  position: relative;
  border-bottom: 5px solid #fff;
  border-top: 1px solid #17c1bd;
  margin: 0;
  background: #ffffdf;
}

.main > div:after {
  content: "";
  border-top: 1px solid #17c1bd;
  padding-top: 5px;
  background: #fff;
  border-bottom: 1px solid #710101;
  display: block;
}

.main > div:nth-child(odd) {
  background: #fffff5;
}

h5 {
  font-size: 32px;
  font-family: monospace;
  color: #710101;
}

.main > div > .info {
  margin: 25px 30px;
}

/* ABOUT ME */

.info > p {
  display: block;
  margin-top: calc(2.5%);
  margin-bottom: 0px;
  text-align: justify;
}

.info {
  position: relative;
}

.info > .avatar {
  width: calc(25%);
  float: right;
  margin: 0 0 10px 30px;
  border: 1px solid #17c1bd;
  box-shadow: 1px 1px 10px 1px #aaa;
  max-width: 255px;
}

.info > .avatar > .container >  img {
  position: relative;
  width: 215%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  top: -30px;
}

/* SKILLS */

.skills > .info > p {
  margin-bottom: 15px;
  text-align: center;
}

.skills > .info > h5 {
  text-align: left;
}

.devicons {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: inherit;
}

.skills > .info {
  text-align: center;
}

.skill {
  display: inline-block;
	width: 100px;
	margin: 15px 20px;
  position: relative;
	color: #17c1bd;
}

.skill i {
	font-size: 100px;
	display: block;
	text-align: center;
	transition: all .25s;
}

.skill i:hover {
	transition: all .25s;
}

.skill > p {
  text-align: center;
  margin: 10px 0;
}

/* PORTFOLIO */
/** PROJECTS **/

.projects {
  display: block;
  margin: 20px 0;
}

.project {
  margin: 20px 0;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
}

.project > div {
  display: inline-block;
  position: relative;
}

.project-image {
  width: 33%;
  position: relative;
}

.dummy_two {
  padding-top: 70%;
}

.project-description {
  width: 58%;
  margin-left: 30px;
}

.project-heading {
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  vertical-align: baseline;
}

.project-heading a:last-child {
  position: relative;
  font-size: 16px;
  color: #445;
  font-weight: bold;
  margin-left: 12px;
}

.project-heading a:last-child:hover {
  color: #710101;
}

.project-description h6 {
  margin: 15px 0;
  font-size: 18px;
}

.description {
  color: rgba(52, 52, 55, 1);
}

.bullet {
  margin: 5px 10px;
}

.bullet:before {
  content: "⁍  ";
}

/** HOVER-EFFECT **/

.hovereffect {
  width: 100%;
  overflow: hidden;
  text-align: center;
  cursor: default;
  border: 2px solid #ccc;
  outline: 1px solid #17c1bd;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  -moz-transform: sle(0,1);
  -o-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: sle(0);
  -o-transform: scale(0);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  top: 0px;
  height: 100%;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);

}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover a:hover {
  color: #ffffa8;
  transition: color 0.15s;
}

.hovereffect:hover a:active {
  color: #17c1bd;
}

/* FOOTER */

.footer {
  border-top: 1px solid #17c1bd;
  display: block;
  position: relative;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  padding-top: 90px;
  padding-bottom: 30px;
}

.footer > span {
  margin: 0 30px;
  font-style: italic;
  float: right;
  text-align: left;
}

.footer a {
  color: #888;
}

.footer a:hover {
  color: #710101;
}

#ip {
  margin: 0 15px 10px 0;
  text-align: right;
  max-width: 400px;
}

#credit {
  float: left;
}
