/* RESET */

html, body, div, ul, li, h1, h2, h4, figure, img, button, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
}

html {
  background: #ffffdf;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  min-width: 780px;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 5px;
  background: #faf;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 auto;
}

/* CLEARFIX */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* TOP BAR */
.top-bar {
  position: relative;
  background: #710101;
  height: 46px;
  color: #fff;
  border-bottom: 5px solid #fff;
}

.top-bar:after {
  content: "";
  padding-top: 5px;
  border-bottom: 1px solid #17c1bd;
}

.top-bar > .links {
  float: right;
  margin: 5px;
}

.links > li {
  float: left;
  padding: 11px 15px 8px 15px;
  font: 18px;
  font-weight: 400;
  letter-spacing: 5px;
}

.links > li:hover {
  color: #17c1bd;
}

.links > li:active {
  color: #ccc;
}

.logo {
  position: absolute;
  top: 10px;
  left: calc(15% - 36px);
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background: #fff;
  float: left;
  border: 1px solid #17c1bd;
  cursor: pointer;
  z-index: 2;
}

.logo > img {
  margin-top: 4px;
  margin-left: 0.37px;
}

/* *MAIN PAGE* */
.content {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.content > div {
  float: left;
  display: inline-block;
  vertical-align: top;
  transition: width .5s;
}

.main {
  width: calc(100%);
}

.sidebar {
  z-index: -1;
  width: 0;
  background: rgba(52, 52, 55, 1);
}

.main.active {
  width: calc(70%);
}

.sidebar.active {
  width: calc(30%);
  border-right: 1px solid #17c1bd;
}

/* BANNER */

.banner {
  display: block;
  position: relative;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

.banner-text {
  position: absolute;
  z-index: 2;
  top: calc(50% - 42px);
  left: calc(50% - 242px);
  color: rgba(255, 255, 223, 0.68);
  font-weight: 500;
}

.banner-text > h2 {
  font-size: 42px;
  letter-spacing: 15px;
  display:inline-block;
    transform:scale(1,1.2); /* W3C */
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9 */
    -o-transform:scale(1,1.2); /* Opera */
}

.banner > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* SIDEBAR */

.avatar {
  width: calc(76%);
  height: auto;
  margin-top: 45px;
  margin-left: calc(12%);
  border-radius: 5px;
  border: 1px solid #555;
  overflow: hidden;
}

/* MAIN */
