/* RESET */

html, body, div, ul, li,
h1, h2, h4, h5, h6, figure,
img, button, a, footer, br {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
}

html {
  background: #ffffef;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: rgba(52, 52, 55, 1);
  font-weight: 200;
  min-width: 780px;
}

a {
  cursor: pointer;
  color: #17c1bd;
}

a:hover {
  color: #710101;
}

a:active {
  color: #17c1bd;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 5px;
  background: #faf;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 auto;
}

/* CLEARFIX */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* TOP BAR */
.top-bar {
  display: block;
  position: relative;
  background: #710101;
  height: 46px;
  color: #fff;
  border-bottom: 5px solid #fff;
}

.top-bar:after {
  content: "";
  padding-top: 5px;
  border-bottom: 1px solid #17c1bd;
}

.top-bar > .links {
  float: right;
  margin: 5px;
}

.links > li {
  float: left;
  padding: 11px 15px 8px 15px;
  font: 18px;
  font-weight: 200;
  letter-spacing: 5px;
}

.links > li:last-child > a {
  color: #ffffdf;
  font-weight: 400;
}

.links > li > a {
  color: #fff;
}

.links > li > a:hover {
  color: #17c1bd;
}

.links > li > a:active {
  color: #ccc;
}

.logo {
  position: absolute;
  top: 10px;
  left: calc(15% - 36px);
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background: #fff;
  float: left;
  border: 1px solid #17c1bd;
  cursor: pointer;
  z-index: 2;
}

.logo > img {
  margin-top: 3.9px;
  margin-left: 0.23px;
}

/* *MAIN PAGE* */
.content {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.content > div {
  float: left;
  display: inline-block;
  vertical-align: top;
  transition: width .4s;
}

.main {
  width: calc(100%);
}

.sidebar {
  width: 0;
  display: hidden;
  background: rgba(52, 52, 55, 1);
  overflow: hidden;
}

.main.active {
  width: calc(70%);
}

.sidebar.active {
  width: calc(30%);
  border-right: 1px solid #17c1bd;
}

/* BANNER */

.banner {
  display: block;
  position: relative;
  height: 400px;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #fff;
}

.banner-text {
  position: absolute;
  z-index: 2;
  top: calc(50% - 42px);
  left: calc(50% - 244px);
  color: rgba(255, 255, 223, 0.68);
  font-weight: 500;
}

.banner-text > h2 {
  font-size: 42px;
  letter-spacing: 15px;
  display:inline-block;
    transform:scale(1,1.2); /* W3C */
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9 */
    -o-transform:scale(1,1.2); /* Opera */
}

.banner > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* SIDEBAR */

.avatar {
  width: calc(80%);
  position: relative;
  margin-top: 45px;
  margin-left: calc(10%);
  border-radius: 5px;
  border: 1px solid #555;
  overflow: hidden;
}

.avatar > .dummy {
  padding-top: 100%;
}

.avatar > .container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container > img {
  width: 100%;
  position: relative;
  top: -20px;
}

.description {
  color: #ffffdf;
}

.description > h4 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2.5px;
  margin-top: 15px;
}

.description > p {
  font-weight: 100;
  text-align: justify;
  font-size: 18px;
  margin: calc(10%);
  color: #111;
}

/* MAIN */

.main > div {
  display: block;
  position: relative;
  border-bottom: 5px solid #fff;
  border-top: 1px solid #17c1bd;
  margin: 0;
}

.main > div:after {
  content: "";
  border-top: 1px solid #17c1bd;
  padding-top: 5px;
  background: #fff;
  border-bottom: 1px solid #710101;
  display: block;
}

.main > div:nth-child(odd) {
  background: #fffffa;
}

h5 {
  font-size: 32px;
  font-family: monospace;
  color: #710101;
}

.main > div > .info {
  margin: 25px 30px;
}

/* ABOUT ME */

.info > p {
  display: block;
  margin-top: calc(2.5%);
  margin-bottom: 0px;
  text-align: justify;
}

.info {
  position: relative;
}

.info > .avatar {
  width: calc(20%);
  float: right;
  margin: 0 0 10px 30px;
  border: 1px solid #17c1bd;
  box-shadow: 10px black;
}

.info > .avatar > .container >  img {
  position: relative;
  width: 215%;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}

/* SKILLS */

.skills > .info > p {
  margin-bottom: 15px;
  text-align: justify;
}

.devicons {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;
}

.skills > .info {
  text-align: center;
}

.skill {
  display: inline-block;
	width: 100px;
	margin: 15px 20px;
  position: relative;
	color: #17c1bd;
}

.skill i {
	font-size: 100px;
	display: block;
	text-align: center;
	transition: all .25s;
}

.skill i:hover {
	transition: all .25s;
}

.skill > p {
  text-align: center;
  margin: 10px 0;
}

/* PORTFOLIO */

.projects {
  display: block;
  margin: 20px 0;
}

.bullet {
  color: #710101;
}


/* FOOTER */

footer {
  border-top: 1px solid #17c1bd;
  display: block;
  position: relative;
  background: #fff;
  color: #555;
}

footer > span {
  margin-top: 60px;
  margin-bottom: 30px;
  font-style: italic;
}

#credit {
  text-align: left;
  margin-left: 10px;
  float: left;
  width: 28%;
}

#ip {
  text-align: right;
  margin-right: 10px;
  float: right;
  width: 70%;
  max-width: 500px;
}
